<div class="container-fluid stats-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="stats-flex">
                    <h2>
                        Reach your <span class="highlight">weight loss</span> goals affordably with Semaglutide. Schedule an online consultation, get your prescription, and start your <span class="highlight">journey today</span>
                    </h2>

                    <div>
                        <a href="#" class="link">
                            <img src="transform.png">
                            <div>
                                <h5>Thousands are transforming their health!</h5>
                                <p>Join others losing weight with our program</p>
                            </div>
                            <button class="secondary-button"><img src="diagonal.png"></button>
                        </a>
                    </div>

                    <div class="stats">
                        <div class="stat">
                            <img src="stat-1.png">
                            <p>Feel Great and Stay Healthy</p>
                        </div>

                        <div class="stat">
                            <img src="stat-2.png">
                            <p>Feel Great and Stay Healthy</p>
                        </div>

                        <div class="stat">
                            <img src="stat-3.png">
                            <p>Feel Great and Stay Healthy</p>
                        </div>

                        <div class="stat">
                            <img src="stat-4.png">
                            <p>Feel Great and Stay Healthy</p>
                        </div>

                        <div class="stat">
                            <img src="stat-5.png">
                            <p>Feel Great and Stay Healthy</p>
                        </div>

                        <div class="stat">
                            <img src="stat-6.png">
                            <p>Feel Great and Stay Healthy</p>
                        </div>

                        <div class="stat">
                            <img src="stat-7.png">
                            <p>Feel Great and Stay Healthy</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>