<div class="container-fluid footer-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="logos">
                    <img style="opacity: .4;" src="abc.png">
                    <img style="opacity: .7;" src="forbes.png">
                    <img src="cbs.png">
                    <img style="opacity: .7;" src="buzzfeed.png">
                    <img style="opacity: .4;" src="nbc.png">
                </div>
            </div>
        </div>
        <div class="row link-row">
            <div class="col-md-2">
                <div class="links">
                    <h5>COMPANY</h5>
                    <a href="#">Home</a>
                    <a href="#product">Product</a>
                    <a href="#benefits">Benefits</a>
                    <a href="#online-consultations">Online consultation</a>
                    <a href="#reviews">Reviews</a>

                    <p>{{currentYear}} All Rights Reserved</p>
                </div>
                
            </div>
            <div class="col-md-8 d-none d-md-block">
                <div class="centering">
                    <h3>Transform Your Body, Transform Your Life - <br> Start Your Journey Today!</h3>
                </div>
                <div class="buttons">
                    <button class="primary-button">Get Started</button>
                    <button class="secondary-button">Online consultation</button>
                </div>
            </div>
            <div class="col-md-2 d-none d-md-flex">
                <div class="links2">
                    <h5>OTHER</h5>
                    <a>Terms of Use</a>
                    <a>Privacy Statement</a>
                    <a>Telehealth Consent </a>
                    <a>Contact Us</a>

                    <p>hey.md</p>
                </div>
            </div>

            <div class="centering2">
                <img class="logo-bg" src="logo-bg.png">
                <p>{{currentYear}} All Rights Reserved</p>
            </div>
        </div>
    </div>
</div>