<div class="container-fluid outcomes-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-12">
                <h2>Our Semaglutide Weight Loss Program Delivers <span class="highlight">Remarkable Outcomes</span></h2>

                <img class="d-none d-lg-block" style="margin-top: 180px;" src="small-bottle.png"> 
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="aligner">
                    <div class="box">
                        <div class="inner-box">
                            <h1 class="number">20</h1>
                            <h4>Pounds Lost <br> in 3 Months</h4>
                        </div>
                    </div>
                </div>
                <h4 class="subtext">Users report significant weight loss in the first months of treatment.</h4>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="aligner">
                    <div class="box2">
                        <div class="inner-box">
                            <h1 class="number">394+</h1>
                            <h4>Units Sold in Last <br> 24 Hours</h4>
                        </div>
                    </div>
                </div>
                <h4 class="subtext">Hundreds of customers join us daily to start their weight loss journey</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="cta-line">
                    <button class="primary-button d-none d-lg-block" style="margin-right: 16px;">Get Started</button>
                    <div class="doctor-review">
                        <div class="doctor-comment">
                            <div class="doctor-info">
                                <h5>Doctor Reviewed</h5>
                                <p>Dr. Alex Johnson, MD, Medical Consultan</p>
                            </div>
                            <p class="comment-ds">For a trustworthy solution to weight management, our Semaglutide program offers a personalized, doctor-led approach that adapts to your unique needs.</p>
                        </div>
                        <img src="doctor.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>