<div class="container-fluid">
    <div class="container main-container">
        <div class="row main-row">
            <div class="col-12 main-col">
                <div class="header">
                    <img class="logo" src="logo.svg">
                    <div class="links d-none d-lg-block">
                        <a href="#" class="link active">Home</a>
                        <a href="#product" class="link">Product</a>
                        <a href="#benefits" class="link">Benefits</a>
                        <a href="#online-consultations" class="link">Online Consultation</a>
                        <a href="#reviews" class="link">Reviews</a>
                    </div>
                    <div class="buttons">
                        <button class="secondary-button d-none d-md-inline"><img src="cart.png"></button>
                        <button class="primary-button d-none d-md-inline">Get Started</button>
                        <button class="tertiary-button d-md-none"><img src="hamburger.png"></button>
                    </div>
                </div>

                <h1>Individualized Weight Loss Backed by Medical Professionals</h1>
                <h5>Medically Supervised Weight Management</h5>

                <div class="cta-line">
                    <button class="primary-button">Get Started</button>
                    <button class="secondary-button">Online consultation</button>
                </div>

                <div class="verifications d-none d-md-flex">
                    <div class="verification">
                        <img style="margin-right: 24px;" src="verify.png">
                        <div>
                            <p>Medically Supervised</p>
                            <p>Weight Management</p>
                        </div>
                    </div>
                    <div class="verification">
                        <img style="margin-right: 24px;" src="verify.png">
                        <div>
                            <p>Clinically Proven </p>
                            <p>Medication</p>
                        </div>
                    </div>
                    <div class="verification">
                        <img style="margin-right: 24px;" src="verify.png">
                        <div>
                            <p>Convenient Online </p>
                            <p>Consultations</p>
                        </div>
                    </div>
                    <div class="verification">
                        <img style="margin-right: 24px;" src="verify.png">
                        <div>
                            <p>Comprehensive</p>
                            <p>Customer Support</p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="overlay d-md-none"></div>
        </div>
        
    </div>
</div>