<div class="container-fluid" id="benefits">
    <div class="container benefits-section">
        <div class="row">
            <div class="title">
                <h2><span class="highlight">Medical-Backed Benefits</span> for Sustainable Weight Loss</h2>
                <p class="subtitle">Semaglutide reduces appetite, improves heart health, and regulates blood sugar for lasting weight loss, backed by medical research and expert guidance.</p>
            </div>
            <div class="col-md-6">
                <div class="benefit">
                    <img class="benefit-img" src="benefit-1.png">
                    <h4>Improves Heart Health and Blood Sugar Control</h4>
                    <p>By promoting better cardiovascular health and helping to regulate insulin production, Semaglutide reduces cholesterol levels and supports healthy blood sugar control. This helps lower the risk of heart-related issues and type 2 diabetes.</p>
                </div>
            </div>         
            <div class="col-md-6">
                <div class="benefit">
                    <img class="benefit-img" src="benefit-2.png">
                    <h4>Improves Heart Health and Blood Sugar Control</h4>
                    <p>By promoting better cardiovascular health and helping to regulate insulin production, Semaglutide reduces cholesterol levels and supports healthy blood sugar control. This helps lower the risk of heart-related issues and type 2 diabetes.</p>
                </div>
            </div>
        </div>
    </div>
</div>