<div class="container-fluid buy-section" id="product">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h2>Achieve Lasting Weight Loss with <span class="highlight">Semaglutide</span></h2>

                <div class="tags">
                    <div class="tag-stock">
                        <img src="verify-check.png">
                        <p class="highlight">In stock</p>
                    </div>
                    <div class="tag">
                        <p>Semaglutide</p>
                    </div>
                </div>

                <h5 class="d-none d-lg-block">Same active ingredient in Wegovy® and Ozempic®.</h5>

                <div class="ratings d-none d-lg-flex">
                    <div class="stars">
                        <img src="stars.png">
                        <p>4.3</p>
                    </div>
                    <div class="look">
                        <a class="back" href="#"><p>Look back</p></a>
                        <img src="arrow.png">
                    </div>
                    
                </div>

            </div>
            <div class="col-lg-4 product-col">
                <img class="product" src="product.png"> 
            </div>
            <div class="col-lg-4">
                <div>
                    <button class="selection active">
                        <h4>Subscribe & Save</h4>
                        <div class="discount">
                            75% OFF
                        </div>
                    </button>
                </div>

                <div class="subscription">
                    <div class="check" style="margin-top: 40px;">
                        <img src="verify-check.png">
                        <div>
                            <h5>Same-day doctor</h5>
                            <h5 class="desc">visits and prescriptions available</h5>
                        </div>
                    </div>
                    <div class="check">
                        <img src="verify-check.png">
                        <div>
                            <h5>Prescription</h5>
                            <h5 class="desc">and Medication (2.5MG)</h5>
                        </div>
                    </div>
                    <div class="check">
                        <img src="verify-check.png">
                        <div>
                            <h5>Free Shipping</h5>
                            <h5 class="desc">Worry-free shipping</h5>
                        </div>
                    </div>
    
                    <div class="pricing-div">
                        <ul>
                            <li>Semaglutide Per Month</li>
                            <li>Cancel with Ease</li>
                            <li>
                                <div>
                                    <p>UNLIMITED TEXTING</p>
                                    <p class="desc">With Your Physician</p>
                                </div>
                            </li>
                        </ul>
                        <div>
                            <h4 class="original">$399.99</h4>
                            <h4 class="highlight">$99.99</h4>
                        </div>
                    </div>
                    <div class="buttons">
                        <button class="primary-button">Add to Cart</button>
                    </div>
                </div>

                

                <div>
                    <button class="selection">
                        <h4>One-Time Purchase</h4>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>