<div class="container-fluid buy-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4" style="align-self: flex-end;">
                <div class="gallery-imgs d-none d-lg-flex">
                    <img src="small-bottle-2.png">
                    <img src="small-bottle-3.png">
                </div>

                <div class="ratings d-none d-lg-flex">
                    <div class="stars">
                        <img src="stars.png">
                        <p>4.3</p>
                    </div>
                    <div class="look">
                        <a class="back" href="#"><p>Look back</p></a>
                        <img src="arrow.png">
                    </div>
                </div>
                <div class="d-none d-lg-block">
                    <p class="approach">Our approach is based on individual patient care, helping you safely achieve weight management goals and improve your overall well-being.</p>
                </div>

            </div>
            <div class="col-lg-4 product-col">
                <img class="product" src="product-red-box.png"> 
            </div>
            <div class="col-lg-4" style="align-self: flex-end;">
                <div class="subscription">
                    <div class="pricing-div">
                        <ul>
                            <li>Semaglutide Per Month</li>
                            <li>Cancel with Ease</li>
                            <li>
                                <div>
                                    <p>UNLIMITED TEXTING</p>
                                    <p class="desc">With Your Physician</p>
                                </div>
                            </li>
                        </ul>
                        <div>
                            <h4 class="original">$399.99</h4>
                            <h4 class="highlight">$99.99</h4>
                        </div>
                    </div>
                    <div class="buttons">
                        <button class="primary-button">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>