<div class="container-fluid review-section" id="reviews">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title-row">
                    <div>
                        <h2>Real Stories, Real <br><span class="highlight">Transformations</span></h2>
                        <h5 class="subtitle d-none d-md-block">See How Our Patients Have Achieved Lasting Results</h5>
                    </div>
                    <button class="primary-button d-none d-md-block">Get Started</button>
                </div>

                <div class="swiper">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                      <!-- Slides -->
                      <div class="swiper-slide">
                        <img class="review-img" src="review-1.png">
                        <div class="ratings">

                            <div class="person-section">
                                <img class="person" src="review-person-1.png">
                                <p>Sarah J.</p>
                            </div>

                            <div class="stars">
                                <img src="stars.png">
                                <p>4.3</p>
                            </div>
                        </div>

                        <p class="review-content">I started using Hey MD three months ago, and I have already lost 25 pounds! The Semaglutide program has changed my life for the better. </p>

                        <div class="review-info">
                            <div>
                                <p class="review-stat-title">Medication</p>
                                <p class="review-stat-desc">Semaglutide</p>
                            </div>
                            <div>
                                <p class="review-stat-title">Dosage</p>
                                <p class="review-stat-desc">2,5 mg per week</p>
                            </div>
                            <div>
                                <p class="review-stat-title">Duration</p>
                                <p class="review-stat-desc">9 months</p>
                            </div>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <img class="review-img" src="review-2.png">
                        <div class="ratings">

                            <div class="person-section">
                                <img class="person" src="review-person-2.png">
                                <p>Sarah J.</p>
                            </div>

                            <div class="stars">
                                <img src="stars.png">
                                <p>4.3</p>
                            </div>
                        </div>

                        <p class="review-content">The Hey MD program was a game-changer for me. With 20 pounds gone in 3 months, I am now healthier and more energetic than I have ever been. </p>

                        <div class="review-info">
                            <div>
                                <p class="review-stat-title">Medication</p>
                                <p class="review-stat-desc">Semaglutide</p>
                            </div>
                            <div>
                                <p class="review-stat-title">Dosage</p>
                                <p class="review-stat-desc">2 mg per week</p>
                            </div>
                            <div>
                                <p class="review-stat-title">Duration</p>
                                <p class="review-stat-desc">6 months</p>
                            </div>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <img class="review-img" src="review-1.png">
                        <div class="ratings">

                            <div class="person-section">
                                <img class="person" src="review-person-1.png">
                                <p>Sarah J.</p>
                            </div>

                            <div class="stars">
                                <img src="stars.png">
                                <p>4.3</p>
                            </div>
                        </div>

                        <p class="review-content">I started using Hey MD three months ago, and I have already lost 25 pounds! The Semaglutide program has changed my life for the better. </p>

                        <div class="review-info">
                            <div>
                                <p class="review-stat-title">Medication</p>
                                <p class="review-stat-desc">Semaglutide</p>
                            </div>
                            <div>
                                <p class="review-stat-title">Dosage</p>
                                <p class="review-stat-desc">2,5 mg per week</p>
                            </div>
                            <div>
                                <p class="review-stat-title">Duration</p>
                                <p class="review-stat-desc">9 months</p>
                            </div>
                        </div>
                      </div>
                    </div>

                    <!-- If we need navigation buttons -->
                    <div class="swiper-button-prev d-none d-md-flex">
                        <img src="swipe-left.svg">
                    </div>
                    <div class="swiper-button-next d-none d-md-flex">
                        <img src="swipe-right.svg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>