<div class="container-fluid">
    <div class="container ingredient-section" style="position: relative;">
        <img class="product" src="product-abs.png">
        <div class="row title-row">
            <h2 class="highlight">Natural Ingredients for Sustainable Results</h2>
        </div>
        <div class="row ing-row">
            <div class="col-md-5 col-ing">
                <div class="ingredient left">
                    <h5>Safe and Easy-to-Use</h5>
                    <p>Delivered in an injectable form, designed for comfortable self-administration</p>
                </div>
                <div class="ingredient right">
                    <h5>Promotes Long-Term Health</h5>
                    <p>Enhances natural processes for gradual, sustainable weight loss without restrictive diets.</p>
                </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5 col-ing">
                <div class="ingredient right">
                    <h5>Mimics the GLP-1 Hormone</h5>
                    <p>Acts like the naturally occurring GLP-1 hormone to regulate hunger and stimulate insulin production.</p>
                </div>
                <div class="ingredient left">
                    <h5>Supports Metabolism</h5>
                    <p>Sends signals to reduce cravings and boost metabolic activity for efficient calorie burning.</p>
                </div>
            </div>
        </div>
        <div class="row title-row d-none d-md-flex" style="margin-top: 80px; margin-bottom: 8px;">
            <h5 class="desc">Unlocking Sustainable Weight Loss, <br>One Step at a Time</h5>
        </div>
    </div>
</div>